/* md devices (992px) */
@media (min-width: 993px) and (max-width: 1199px) { 
header .logo{margin: 59px 30px 57px 0;}	
.right-info{display: none;}
.clients-header{font-size: 30px; line-height: 30px;}
.clients-paragraph{font-size: 13px; line-height: 18px;}
.clients-logos img{height: 105px; width: 160px;}

}

/* sm Medium devices (992px) */
@media (min-width: 767px) and (max-width: 992px){ 
header .logo{margin: 59px 25px 57px 0;}
.right-info{display: none;}
.webhost-services-shape img{width: 129px; height: 128px;}
.webhost-services-header{font-size: 30px; line-height: 30px;}
.webhost-services-paragraph{font-size: 12px; line-height: 20px; width: auto;}
.domain-services-header{font-size: 30px; line-height: 30px;}
.domain-services-paragraph{font-size: 12px; line-height: 20px; width: auto;}
.domain-services-com{font-size: 114px; line-height: 114px; margin: 0 auto 43px auto;}
}