/* md devices (≥992px) */
@media (min-width: 992px) and (max-width: 1199px) { 
header .logo{margin: 59px 30px 57px 0;}	
.right-info{display: none;}
.clients-header{font-size: 30px; line-height: 30px;}
.clients-paragraph{font-size: 13px; line-height: 18px;}
.clients-logos img{height: 105px; width: 160px;}
.right-info-md{display: block;}
header .feed-back .feed-back-btn{display: block;}
.testimonial-group {margin: 50px 0 0 0;}
.testimonial-title-photo{top: 165px; right: 35px;}
}

/* sm small devices (≥768px) */
@media (min-width: 768px) and (max-width: 991px){ 
header .logo{margin: 59px 25px 57px 0;}
.right-info{display: none;}
.webhost-services-shape img{width: 129px; height: 128px;}
.webhost-services-header{font-size: 30px; line-height: 30px;}
.webhost-services-paragraph{font-size: 12px; line-height: 20px; width: auto;}
.domain-services-header{font-size: 30px; line-height: 30px;}
.domain-services-paragraph{font-size: 12px; line-height: 20px; width: auto;}
.domain-services-com{font-size: 114px; line-height: 114px; margin: 0 auto 43px auto;}
.testimonial-title-photo{top: 210px; right: 15px;}
.clients-paragraph{margin-bottom: 40px;}
.testimonial-group{margin: 50px 0 0 0;}
}

/* xs very small devices (<768) */
@media (max-width: 767px){ 
header .logo, header .nav, .right-info{display: none;}
header{background: #fff;}
.navigation-xs{display: block;}
.nav-xs{display: none;}
.form-domain{width: 297px; height: auto;}
.form-domain input[type=search]{width: 263px;}
.screen__splash .row .screen-splash-header{font-size: 35px; line-height: 35px;}
.screen__splash .row .screen-splash-paragraph{font-size: 25px; line-height: 25px;}
.screen__splash .row .main-screen-shape{width: 72px; height: 80px;}
.webhost-services-shape img{width: 118px; height: 119px;}
.webhost-services-header {font-size: 23px; line-height: 23px;}
.webhost-services-paragraph {font-size: 13px; line-height: 20px; width: 217px;}
.domain-services-com {font-size: 82px; line-height: 82px;}
.domain-services-header {font-size: 23px; line-height: 23px;}
.domain-services-paragraph {font-size: 13px; line-height: 20px; width: 217px;}
.testimonial-group {margin: 40px 0 0 0;}
.testimonial-group-info {margin: 35px 0;}
.testimonial-group:first-child {margin: 0;}
.testimonial-group:last-child {margin: 0;}
.testimonial-title-photo {top: 100px;}
}